@import "./seek.css";
@import "./p1.css";
@import React from "react";
@import ReactDOM from "react-dom";

/* h1 {
  background-color: rgba(0, 0, 255, 0);
  color: rgb(21, 4, 4);
}
/* -------------------------
 */
/* 
button {
  margin: 0;
  padding: 0;

  background-color: black;
  color: blueviolet;
  size: 100px;
  border: 200px;
} */

/* table {
  background-color: chartreuse;
  border: 10px;
  border-color: chocolate;
  border-radius: 3px;
} */
/* 
tr > td {
  background-color: blue;
}

tr > th {
  background-color: black;
  color: azure;
} */
h1 {
  color: rgba(238, 223, 205, 0.184);
  font-size: 30px;
}
