/* * {
  margin: 0;
  padding: 0;
}

a[href="http://digikala.com"] {
  display: block;
  width: fit-content;
  background-color: crimson;
  color: wheat;
  text-transform: capitalize;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 50px auto;
  box-shadow: 5px 5px 25px black;
  transition: 500ms;
  &:hover {
    transform: rotate(2turn);
    /* transform: rotate3d(2turn); */
/* transition: unset; */
/* transition: all; */
/* }
} */
* {
  margin: 0;
  padding: 0;
}
/* 
body {
  height: 2000px;
  background-image: url(https://climatefocus.com/wp-content/uploads/2023/06/clim-damage-by-russia-war-12months-dragged-900x500.png);

  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */
/* div > h1 {
  text-align: center;
  margin: 50px auto;
  text-shadow: 5px 5px 25px rgb(12, 130, 12);
} */

/* ------------------------------ */

/* 

dfdgfffhf
hf
gf
gf
g
fg
fg
fg
fg


*/

.hrt {
  width: 30%;
  height: 300px;
  background-color: red;
  margin: 100px auto;
  transition: 3000ms;
  &:hover {
    background-color: blue;
    border-radius: 50%;
  }
}
